$color_orange:#feab6b;
$color_darkorange:#e76f3d;
$color_whitesmoke:#f3e9e7;
$color_lightblue:#9bcfe0;
$color_darkblue:#00a7c7;
$color_gray:rgba(0,0,0,0.7);
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');
.typewriter{
  width: fit-content;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
}
.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .20em solid orange; /* The typwriter cursor */

  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
          typing 3s steps(40, end),
          blink-caret .50s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0;

  }
  to {
    width: 100%;

  }

}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-color:  transparent; /* The typwriter cursor */

     }
  50% {
    border-color: orange; /* The typwriter cursor */
  }

}

