@import "variables";
.large-project{
  $padding-top-bottom:40px;
  width: 100%;
  background-color: rgba(236, 172, 93, 0.2);
  border-radius: 8px;
  z-index: 10;
  padding: $padding-top-bottom 10px;
  height: 100vh;

  margin-bottom: 20px;

  .linkbar{
    padding: 10px 5px;
    &>a{
      font-size: 1.6em;
      background-color: dimgray;
      border:1px black solid;
      border-radius: 50%;
      padding:4px;
      &:hover{
        cursor: pointer;
        background-color: black;
        color: white;
        border-color: white;
      }
    }
  }


}
.title{
  letter-spacing: 0.2em;
  border-radius: 0.2em;
  padding: 0.3em 0;
  background-color: rgba(0,0,0,0.7);
  color: white;

}
.tech-stack{
  margin: 2em 0px 1em 0;
  padding: 4px 10px;
  text-align: left;
  font-size: larger;
  word-spacing: 0.2em;
  .stack-head{
    background-color: rgba(0,0,0,0.7);
    color: white;
    padding: 8px 4px;
    border-radius: 10px;
  }
  .stack-item{
    margin: 0 4px;
    border-bottom: 2px solid green;
  }

}
.description-box{
  padding:4px;
  font-size: larger;
  word-spacing: 0.4em;
  letter-spacing: 0.1em;
  line-height: 1.4em;
  p{
    margin: 0px;
  }
}